@page "/machines"
@attribute [StreamRendering]


@if (Machines == null)
{
    <p>Loading machines...</p>
}
else
{
    <table class="table table-success table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Machine ID</th>
                <th>Name</th>
                <th>Latest Data</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in Machines)
            {
                <tr>
                    <td><img src="@($"/images/oven.png")" width="100"/></td>
                    <td>@machine.Id</td>
                    <td>@machine.Name</td>
                    <td>@machine.LatestData</td>
                     <td><OnlineButton IsOnline="@machine.IsOnline" /></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    public List<Machine> Machines { get; set; } = default!;

    [Inject]
    public IMachineDataService? MachineDataService { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Machines = (await MachineDataService.GetAllMachines()).ToList();
    }

}



